@font-face {
  font-family: "Sensei-Medium";
  src: url(fonts/Sensei-Medium.otf);
}

body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: "Sensei-Medium";
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: black;
  background-color: snow;
}
/* поменять потом все стили в боди */
.container {
  width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;

  background-color: black;
  box-shadow: 0 0 10px black;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  margin: 10px 0;
}

.logo-text {
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  color: snow;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}



.header-email {
  font-family: "Sensei-Medium";
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;

  text-decoration: none;
  color: snow;
}

.main-gradient {
  background: url(pictures/smoke.png) repeat-x -70px 0 fixed,
    linear-gradient(to right, snow 30%, #f1fa78 70%);
  height: 600px;
  /* высота временно! */
}

.footer {
  background-color: black;
  box-shadow: 0 0 10px black;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px 0 20px;
}

.social {
  margin: 0;
  padding: 0;

  list-style: none;

  display: flex;
  margin: 10px 0;
}

.social-item:not(:first-child) {
  margin-left: 30px;
}

/* главные свойства закончились*/

.skills {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  padding-top: 160px;

  font-weight: 600;
  font-size: 80px;
  line-height: 60px;
  color: black;
}
.block {

  background-color: rgba(255, 255, 255, 0.4);

  border-radius: 25px;
  border: 2px solid black;
  border-right-color: rgb(131, 19, 196);
  border-bottom-color:rgb(131, 19, 196);
  box-shadow: 0 0 5px 2px black;

  transition:0.5s;
  
  padding: 15px;
}
.block:hover {
  
  transform: scale(1.2);
  opacity: 0.8;
  background-color: rgb(131, 19, 196, 0.8);
}

.block a {
  text-decoration: none;
  color: black;
}

.block1 {
  margin: 0 100%;
}
.block2 {
  margin: 80px 200px 0 auto;
}
.block3 {
  margin: 80px auto 0 0;
}
