@font-face {
  font-family: "Sensei-Medium";
  src: url(fonts/Sensei-Medium.otf);
}

body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: "Sensei-Medium";
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: black;
  background-color: snow;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  background-color: black;
  box-shadow: 0 0 10px black;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  margin: 10px 0;
}

.logo-text {
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  color: snow;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.navigation-item {
  font-family: "Sensei-Medium";
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  margin-left: 40px;
}

.navigation-link {
  text-decoration: none;
  color: snow;
}

.main-gradient {
  background: url(pictures/smoke.png) repeat-x -70px 0 fixed,
    linear-gradient(to right, snow 30%, #f1fa78 70%);
  min-height: 500px;
}

.main-words {
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: black;
  text-align: center;
  padding-top: 150px;
  margin: 0;
}

.footer {
  background-color: black;
  box-shadow: 0 0 10px black;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 20px;
}

.social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin: 10px 0;
}

.social-item:not(:first-child) {
  margin-left: 30px;
}

/* главные свойства закончились*/

.navigation-item:nth-child(3) .navigation-link {
  color: #f1fa78;
}

.main-wrapper {
  padding: 30px 0;
  width: 1030px;
  margin: 0 auto;
  margin-top: 60px;
}

.main-header {
  margin: 0 0 30px;
  text-align: center;
}

/* для карточки JavaScript:начало */

.windows {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: black;
  display: flex;
  justify-content: space-between;
}

.window-task {
  width: 300px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: 0 0 5px 2px black;
  box-sizing: border-box;
  overflow: hidden;
}

.window-task-name {
  padding-left: 20px;
}

.window-task-text {
  text-indent: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.window-screen {
  width: 650px;
  min-height: 300px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  margin-bottom: 50px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: 0 0 5px 2px black;
  box-sizing: border-box;
  overflow: hidden;
}

/* для карточки JavaScript:конец */
.controls {
  margin-top: 25px;
  margin-bottom: 15px;
}
.color-filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.color-filters label {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.filter {
  height: 30px;
  margin-top: 5px;
  padding-left: 10px;
  color: snow;
  background-color: rgb(131, 19, 196);
  border: 1px solid black;
  box-shadow: 0 0 3px 1px black;
}
.color-setting {
  margin-right: 40px;
}
.color-filters + label {
}
/* для хром, сафари и оперы/мозила - полоса */
input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  width: 100%;
  height: 16px;
  margin-top: 5px;

  border: 1px solid rgb(131, 19, 196);
  border-radius: 8px;
  background-color: snow;

  outline: none;
}
/* это сам ползунок хром сафари и опера */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 5px solid rgb(131, 19, 196);
  outline: none;
}
input[type="range"]::-webkit-slider-thumb:active {
  background-color: rgb(131, 19, 196);
}
/* полоса для файяфокс */
input[type="range"]::-moz-range-track {
  -moz-appearance: none;
  display: block;
  width: 100%;
  height: 16px;
  margin-top: 5px;

  border: 1px solid rgb(131, 19, 196);
  border-radius: 8px;
  background-color: snow;
}
/* ползунок для файяфокс */
input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 5px solid rgb(131, 19, 196);
}
input[type="range"]::-moz-range-thumb:active {
  background-color: rgb(131, 19, 196);
}
/* для Internet Explorer */
/* все равно плохо отображается в нем, поэтому в скобках пока*/
/* 
input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
  background: transparent;
}

input[type="range"]::-ms-track {
  display: block;
  width: 100%;
  height: 16px;
  margin-top: 5px;
  border: 1px solid rgb(131, 19, 196);
  border-radius: 8px;
  background-color: snow;
}
input[type="range"]::-ms-thumb {
  width: 25px;
  height: 25px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 5px solid rgb(131, 19, 196);
}
input[type="range"]::-ms-thumb:active {
    background-color: rgb(131, 19, 196);
} */
.longread {
  padding: 5px 15px 10px;
  font-size: 14px;
  line-height: 130%;
  font-style: italic;
  background-color: snow;
  box-shadow: 0 0 2px 0 black;
}
.longread h3 {
}
