@font-face {
    font-family: "Sensei-Medium";
    src: url(fonts/Sensei-Medium.otf);
  }
  
  body {
    margin: 0;
    padding: 0;
    min-width: 1200px;
    font-family: "Sensei-Medium";
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: black;
    background-color: snow;
  }
  
  .container {
    width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .header {
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
  
    background-color: black;
    box-shadow: 0 0 10px black;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo-img {
    margin: 10px 0;
  }
  
  .logo-text {
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: snow;
  }
  
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
  
  .navigation {
    margin: 0;
    padding: 0;
  
    list-style: none;
  
    display: flex;
  }
  
  .navigation-item {
    font-family: "Sensei-Medium";
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
  
    margin-left: 40px;
  }
  
  .navigation-link {
    text-decoration: none;
    color: snow;
  }
  
  .main-gradient {
    background: url(pictures/smoke.png) repeat-x -70px 0 fixed,
      linear-gradient(to right, snow 30%, #f1fa78 70%);
  }
  
  .main-words {
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: black;
    text-align: center;
  
    padding-top: 150px;
    margin: 0;
  }
  
  .footer {
    background-color: black;
    box-shadow: 0 0 10px black;
  }
  
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 20px;
  }
  
  .social {
    margin: 0;
    padding: 0;
  
    list-style: none;
  
    display: flex;
    margin: 10px 0;
  }
  
  .social-item:not(:first-child) {
    margin-left: 30px;
  }
  
  /* главные свойства закончились*/
  
  .navigation-item:nth-child(2) .navigation-link {
    color: #f1fa78;
  }
  
  .main-wrapper {
    padding: 30px 0;
    width: 1030px;
    margin: 0 auto;
    margin-top: 60px;
  }
  
  .main-header {
    margin: 0 0 30px;
    text-align: center;
  }
  
  .cards-link-item {
    text-decoration: none;
    color: inherit;
  }
  
  .cards-list {
    margin: 20px 0;
    padding: 0;
  
    list-style: none;
  
    display: flex;
    flex-wrap: wrap;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
  }
  
  .cards-item {
    position: relative;
    width: 190px;
    height: 290px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10%;
    border: 2px solid black;
    box-shadow: 0 0 5px 2px black;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  li:not(:nth-of-type(5n)) .cards-item {
    margin-right: 20px;
  }
  
  .cards-name {
    margin-top: 2px;
    margin-left: 2px;
  }
  
  .cards-text {
    position: absolute;
    top: 180px;
    left: 2px;
  }
  
  .cards-skill {
    margin: auto 0 10px 1px;
    display: flex;
    justify-content: space-between;
  }
  
  .cards-skill-1 {
    background-color: #f1fa78;
    padding: 0 10px;
    border-radius: 50%;
  }
  
  .cards-skill-2 {
    padding: 0 10px;
  }